@font-face {
    font-family: 'Poppins';
    src: url('poppins-bold-webfont.woff2') format('woff2'),
        url('poppins-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Poppins';
    src: url('poppins-semibold-webfont.woff2') format('woff2'),
        url('poppins-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Poppins';
    src: url('poppins-medium-webfont.woff2') format('woff2'),
        url('poppins-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}


@font-face {
    font-family: 'Poppins';
    src: url('poppins-regular-webfont.woff2') format('woff2'),
        url('poppins-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('poppins-light-webfont.woff2') format('woff2'),
        url('poppins-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}